<div class="container">
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">{{site_name}}</a>
	    </div>

	 	<ul class="nav navbar-nav">
	 		{{#each routes}}
	        <li><a href="{{url}}">{{name}}</a></li>
	        {{/each}}
       </ul>
	  </div>
	</nav>

	<div class="main">

	</div>

	<div class="well">
	{{footer}}
	</div>
</div>